
<div class="container">
    <h3>Gestion des auteurs</h3>
    <p>Nombre d'auteurs : {{ countAuthors }}</p>
    
    <div class="content">
            <article *ngFor="let author of listAuthors">
                <section>
                    <p>{{ author.firstname }} {{ author.lastname }}</p>
                    <p>Né(e) le : {{ author.birthdate | date : 'dd/MM/yyyy' }}</p>
                    <img [src]="'http://localhost:8080' + author.photo" [alt]="'Photo de ' + author.firstname + author.lastname">
                    <p>{{ author.biography }}</p>
                </section>
                <section class="buttons-update-delete">
                    <button routerLink="/admin/author/update/{{author.id}}">Modifier</button>
                    <button (click)="deleteAuthor(author.id)">Supprimer</button>
                </section>
            </article>
    </div>
    
    <a  class="mb-2" routerLink="/admin/author/create">Ajouter un auteur</a>
</div>

