
<h2>Gestion Admin</h2>
<!-- <nav>
    <ul>
        <li><a routerLink="/admin/authors">Auteurs</a></li>
        <li><a routerLink="/admin/orders">Commandes</a></li>
        <li><a routerLink="/admin/editions">Éditions</a></li>
        <li><a routerLink="/admin/formats">Formats</a></li>
        <li><a routerLink="/admin/genres">Genres</a></li>
        <li><a routerLink="/admin/books">Livres</a></li>
        <li><a routerLink="/admin/publishers">Maisons d'éditions</a></li>
        <li><a routerLink="/admin/users">Utilisateurs</a></li>
    </ul>
</nav> -->

<router-outlet />