
<h2>Gestion Admin</h2>
<!-- <nav>
    <ul>
        <li><a routerLink="/admin/author">Auteurs</a></li>
        <li><a routerLink="/admin/order">Commandes</a></li>
        <li><a routerLink="/admin/edition">Éditions</a></li>
        <li><a routerLink="/admin/format">Formats</a></li>
        <li><a routerLink="/admin/genre">Genres</a></li>
        <li><a routerLink="/admin/book">Livres</a></li>
        <li><a routerLink="/admin/publisher">Maisons d'éditions</a></li>
        <li><a routerLink="/admin/user">Utilisateurs</a></li>
    </ul>
</nav> -->

<router-outlet />