
<div class="content-create-update">

    <div class="button-back">
        <a routerLink="/admin/format">Revenir à la liste des formats</a>
    </div>

    <div>
        <h2 class="mb-10">Modifier un format</h2>
        
        <form [formGroup]="formatForm" (ngSubmit)="updateFormat()">
            <div class="form-group mb-10">
                <label for="name">Nom :</label>
                <input id="name" type="text" formControlName="name">
                <span class="txt-danger" *ngIf="formatForm.get('name')?.errors?.['required'] && formatForm.get('name')?.touched">Ce champ est requis</span>
            </div>
            <button type="submit">Modifier</button>
        </form>
    </div>

</div>
